html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0;
    min-height: 100%;
    width: 100%;
}
.stats {
    /*display: flex;*/
    padding: 20px;
}
.section-heading {
    font-size: 22px;
    margin-bottom: 10px;
}
.chart-container {
    height: 400px;
    width: 470px;
    margin: auto;
}
.list-column {
    margin-top: 20px;
    border: 10px solid #EEEEEE;
}
.list-column-header {
    text-align: center;
    padding-bottom: 10px;
    background-color: #EEEEEE;
    font-weight: bold;
}
.host-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    max-height: 400px;
    overflow: auto;
}
.list-item {
    padding-right: 5px;
}
