@font-face {
    font-family: 'open_sansregular';
    src: url('./fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('./fonts/opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'open_sansregular', Arial, sans-serif;
}

.btn {
    padding: 5px;
    background-color: #3B84B0;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
}
.med-width-btn {
    width: 200px;
    margin: auto;
}
.disabled-btn {
    background-color: #D7DDE1;
    cursor: not-allowed;
}
.hide {
    display: none;
}
.center-text {
    text-align: center;
}
.hint {
    font-size: 12px;
    color: #CCCCCC;
}
